.header, .main, .information, .testimonial, .action-call {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

.header-links {
    display: flex;
    gap: 10px;
}

