* {
    font-family: 'Roboto', sans-serif;
}

.header, .main, .information, .testimonial, .action-call {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-text-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}